<p-toast></p-toast>

<div class="p-fluid">
  <p-card>
    <h2 style="text-align: center;">Criar Relatório de Vendas</h2>
    <div class="p-field">
      <span class="p-float-label">
        <input id="float-input" class="p-inputtext p-component" ngDefaultControl pInputText maxlength="150" name="nome" type="text" [(ngModel)]="dto.quantidade">
        <label for="nome">Quantidade de Frangos colocados *</label>
      </span>
    </div>
    <div class="p-field">
      <span class="p-float-label">
        <input id="float-input" class="p-inputtext p-component" ngDefaultControl pInputText maxlength="150" name="valor" type="text" [(ngModel)]="dto.valor">
        <label for="valor">Valor do Frango *</label>
      </span>
    </div>
    <div class="p-field">
      <span class="p-float-label">
        <input id="float-input" class="p-inputtext p-component" ngDefaultControl pInputText maxlength="150" name="quantidade" type="text" [(ngModel)]="dto.quantidade">
        <label for="quantidade">Quantidade de Frango vendidos *</label>
      </span>
    </div>
    <div class="p-field">
      <span class="p-float-label">
        <input id="float-input" class="p-inputtext p-component" ngDefaultControl pInputText maxlength="150" name="quantidade" type="text" [(ngModel)]="dto.quantidade">
        <label for="quantidade">Quantidade de Frango não vendidos *</label>
      </span>
    </div>
    <div class="p-field">
      <button (click)="save()" pButton pRipple type="button" [style]="{width: '100%', marginTop: '1rem'}" label="salvar" class="p-button-rounded" [label]="edicao?'Alterar': 'Salvar'"></button>
      <button pButton pRipple type="button" label="Voltar" [style]="{width: '100%', marginTop: '1rem'}" class="p-button-rounded p-button-secondary" (click)="voltar()"></button>
    </div>
  </p-card>
</div>
