<p-toast></p-toast>
<p-card>
        <h2 style="text-align: center;">{{edicao? 'Alterar' : 'Cadastrar' }} Participante</h2>
            
            <span class="p-float-label" style="left: 970px;">
                <input id="float-input" class=" flex-1 w-30rem m-2 px-5 py-3 " ngDefaultControl pInputText maxlength="150" name="nome" type="text"
                    [(ngModel)]="dto.nome">
                <label for="nome">Nome *</label>
            </span>
            <br>
            <span class="p-float-label" style="left: 970px;">
                <input id="float-input" class="w-30rem m-2 px-5 py-3 " ngDefaultControl pInputText maxlength="150" name="valor" type="text"
                    [(ngModel)]="dto.valor">
                <label for="valor">Valor *</label>
            </span>
            
            <br>
            <span class="p-float-label" style="left: 970px;">
                <input id="float-input" class="w-22rem m-2 px-5 py-3" ngDefaultControl pInputText maxlength="150" name="quantidade" type="text"
                    [(ngModel)]="dto.quantidade">
                <label for="quantidade">Quantidade *</label>
                <p-dropdown [options]="medidas" [(ngModel)]="medida" placeholder="Medidas" optionLabel="name" ></p-dropdown>
            </span>

            <div class="p-field p-col-12 p-md-4" style="padding-top: 22px;  ">
                    <div class="p-field p-col " style="left: 970px;" >
                        <button (click)="save()" pButton pRipple type="button" [style]="{width: '250px', left : '940px'}" label="salvar" class="p-button-rounded"
                            [label]="edicao?'Alterar': 'Salvar'"></button>
                        <button pButton pRipple type="button" label="Voltar" [style]="{width: '250px',left:'960px'}"
                            class="p-button-rounded p-button-secondary " (click)="voltar()"></button>
                    </div>
            </div>
        </p-card>


